
 

   <style>
    hr {
    background-color: #fff;
    padding: 0;
    margin: 80px;
  }
  
  hr.hr-1 {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8c8c, #f0f0f0);
    background-image: -moz-linear-gradient(left, #f0f0f0, #8c8c8c, #f0f0f0);
    background-image: -ms-linear-gradient(left, #f0f0f0, #8c8c8c, #f0f0f0);
    background-image: -o-linear-gradient(left, #f0f0f0, #8c8c8c, #f0f0f0);
  }
  </style>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark container" style="margin-top: 80px;background-color: #050646;">

      <div class="container">
  
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
          aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
  
          <ul class="navbar-nav smooth-scroll" >
            <li class="nav-item">
              <a class="nav-link white-text" href="index.html">Home
                
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link white-text" href="about.html" data-offset="90">About <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link white-text" href="portfolio.html" data-offset="90">Portfolio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link white-text" href="blog.html"  >Blog</a>
            </li>
            <li class="nav-item">
              <a class="nav-link white-text" href="contact.html" data-offset="90">Contact</a>
            </li>
          </ul>
  
        
  
        </div>
  
      </div>
  
    </nav>
    <br>
    
     
     
      
    <div class="container my-5 py-5" style="background-color: #000040;" >


      <!--Section: Content-->
      <section class="px-md-5 mx-md-5 text-center text-lg-left white-text">
  
        <!--Grid row-->
        <div class="row d-flex justify-content-center">
          
         
          <div class="text-center">
              <br>
              <br>
              <br>
              <br>
              <br>
            <h1 class="font-weight-bold mb-4 wow fadeInUp">AFRICAN POLICY AND DEVELOPMENT CENTER</h1>
            <br>
            <h3 class="font-weight-bold mb-4 wow fadeInUp" style="color: #FFF38F;">Generating and disseminating people-centered evidence  to inform decision making and advice policy implementers.</h3>
              <br>
              <br>
              <br>
              
           
          
  
          </div>
       
  
        </div>
        <!--Grid row-->
  
  
      </section>
      <!--Section: Content-->
  
      
    </div>
  
    <div class="container">
      <br>
      <hr class="hr-1">
    </div>
    
    <div class="container my-5 p-5 wow fadeInUp ">


      <!--Section: Content-->
      <section class="dark-grey-text">
    
        <!-- Section heading -->
        <h2 class="text-center font-weight-bold mb-4 pb-2" style="font-family: 'Montserrat', sans-serif;">OUR VALUES</h2>
        <!-- Section description -->
        <p class="text-center lead dark-grey-text mx-auto mb-5">At APADC, we believe in a world where evidence-based solutions are the panacea to the social predicaments.
          .</p>
          
        <!-- Grid row -->
        <div class="row" style="margin-left:100px ;">
    
          <!-- Grid column -->
          <div class="col-lg-6 text-center text-lg-left">
                 <!-- Grid row -->
                 <div class="row mb-3">
    
                  <!-- Grid column -->
                  <div class="col-1">
                    <i class="fas fa-share fa-lg indigo-text"></i>
                  </div>
                  <!-- Grid column -->
        
                  <!-- Grid column -->
                  <div class="col-xl-10 col-md-11 col-10">
                    <h5 class="font-weight-bold mb-3">Creativity</h5>
                  </div>
                  <!-- Grid column -->
        
                </div>
                <!-- Grid row -->
        
                <!-- Grid row -->
                <div class="row mb-3">
        
                  <!-- Grid column -->
                  <div class="col-1">
                    <i class="fas fa-share fa-lg indigo-text"></i>
                  </div>
                  <!-- Grid column -->
        
                  <!-- Grid column -->
                  <div class="col-xl-10 col-md-11 col-10">
                    <h5 class="font-weight-bold mb-3">Commitment</h5>
                   
                  </div>
                  <!-- Grid column -->
        
                </div>
                <!-- Grid row -->
        
                <!--Grid row-->
                <div class="row">
        
                  <!-- Grid column -->
                  <div class="col-1">
                    <i class="fas fa-share fa-lg indigo-text"></i>
                  </div>
                  <!-- Grid column -->
        
                  <!-- Grid column -->
                  <div class="col-xl-10 col-md-11 col-10">
                    <h5 class="font-weight-bold mb-3">Efficiency</h5>
                  </div>
                  <!-- Grid column -->
        
                </div>
                <!--Grid row-->
          </div>
          <!-- Grid column -->
    
          <!-- Grid column -->
          <div class="col-lg-6">
    
            <!-- Grid row -->
            <div class="row mb-3">
    
              <!-- Grid column -->
              <div class="col-1">
                <i class="fas fa-share fa-lg indigo-text"></i>
              </div>
              <!-- Grid column -->
    
              <!-- Grid column -->
              <div class="col-xl-10 col-md-11 col-10">
                <h5 class="font-weight-bold mb-3">Innovation</h5>
              </div>
              <!-- Grid column -->
    
            </div>
            <!-- Grid row -->
    
            <!-- Grid row -->
            <div class="row mb-3">
    
              <!-- Grid column -->
              <div class="col-1">
                <i class="fas fa-share fa-lg indigo-text"></i>
              </div>
              <!-- Grid column -->
    
              <!-- Grid column -->
              <div class="col-xl-10 col-md-11 col-10">
                <h5 class="font-weight-bold mb-3">Teamwork</h5>
              </div>
              <!-- Grid column -->
    
            </div>
      
    
          </div>
          <!--Grid column-->
    
        </div>
        <!-- Grid row -->
    
      </section>
      <!--Section: Content-->
    
    
    </div>
    <div class="map-content wow fadeInUp">
      <div class="container">
    
      <hr class="hr-1">
        <!-- Section: Block Content -->
        <section >
    
 
   
          <h1 class="h1-reponsive dark-grey-text text-uppercase font-weight-bold mb-0 pt-md-5 pt-5 wow fadeInDown text-center"
          data-wow-delay="0.3s" style="font-family: 'Montserrat', sans-serif;"><strong> LOCATION</strong></h1>
          <br>
           
       
          <div class="row my-md-5 py-md-4 p-3">
           <div class="col-md-10 mx-auto">
     
             <!-- Google Maps -->
           
             <div id="map-container-google-3" class="z-depth-1-half map-container-3">
              <iframe src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=Nairobi,Kenya+(APADC)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed" frameborder="0"
                style="border:0" allowfullscreen></iframe>
            </div>
             <!-- Google Maps -->
     
           </div>
         </div>
     
       
       <br>
       <br>
       
     
         </section>
        <!-- Section: Block Content -->
      
        
      </div>
    </div>
   




<!-- Footer -->
<footer class="page-footer font-small lighten-3 py-4" style="background-color: #050646;font-family: 'Alice', serif;">

<!-- Footer Elements -->
<div class="container">

  <div class="row">
    <div class="col-md-4">
      <h3 class="font-weight-bold mb-0">APADC</h3>
    </div>
    <div class="col-md-4">
      <ul class="list-unstyled d-flex justify-content-center mb-0 mt-2">
        <li>
          <a class="nav-link white-text" href="index.html">Home</a>
        </li>
        <li>
          <a class="nav-link white-text"  role="button" routerLink="/about" routerLinkActive="active">About</a>
        </li>
        <li>
          <a class="nav-link white-text"  role="button" href="portfolio.html">Portfolio</a>
        </li>
        <li>
          <a class="nav-link white-text"  role="button" href="blog.html">Blog</a>
        </li>
        <li>
          <a class="nav-link white-text" role="button" href="contact.html">Contact</a>
        </li>
      </ul>
    </div>
    <div class="col-md-4">
      <ul class="list-unstyled d-flex justify-content-end mb-0 mt-2">
        <li>
          <a class="mx-3" role="button" href="https://www.linkedin.com/in/african-policy-and-development-centre-065a381bb/"><i class="fab fa-linkedin"></i></a>
        </li>
        <li>
          <a class="mx-3" role="button" href="mailto:info@apadc.org"><i class="fas fa-at"></i></a>
        </li>
      </ul>
    </div>
  </div>

</div>
<!-- Footer Elements -->

</footer>
<!-- Footer -->
    

<router-outlet></router-outlet>